---
import { en, mn } from "~/config"
import { getLangFromUrl } from "~/i18n/utils"

const currentYear = 2025 // Updated year
const lang = getLangFromUrl(Astro.url)
const config = lang === "mn" ? mn : en
---

<footer
  class="flex flex-wrap items-center justify-center gap-x-4 gap-y-1 py-10 text-center"
>
  <p>&copy; {currentYear} Robert Ritz</p>
  {
    config.rss && (
      <>
        <p class="hidden sm:block">|</p> {/* Separator */}
        <a
          href={`/${lang}/rss.xml`}
          target="_blank"
          class="text-neutral-600 hover:text-neutral-900 dark:text-neutral-400 dark:hover:text-neutral-200"
          aria-label="RSS Feed"
          title="RSS Feed"
        >
          Feed
        </a>
      </>
    )
  }
</footer>
