---
import IntroContentEn from "../../config/en/intro.mdx"
import IntroContentMn from "../../config/mn/intro.mdx"
import { getLangFromUrl } from "../../i18n/utils"

const lang = getLangFromUrl(Astro.url)
const IntroContent = lang === "mn" ? IntroContentMn : IntroContentEn
---

<div class="prose dark:prose-invert max-w-3xl">
  <IntroContent />
</div>
