---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main
    class="mx-auto flex h-[calc(100svh-40px)] max-w-sm flex-col justify-center gap-4 p-4"
  >
    <h1 class="text-2xl font-bold">Hi, I'm Robert</h1>
    <p>
      I'm a data scientist, professor, and business creator based in Mongolia. Most of my success comes from my amazing wife, Bayaraa, and our son.
    </p>

    <p>
      Over the years I've done a lot of different things. What I have learned is that I love technology and I enjoy building things. 
      I've failed at many things, but I keep learning and keep going.
    </p>

    <p>
      I write semi regularly on this site, and I welcome <a href="mailto:robertritz@outlook.com"
        class="text-blue-500 underline">email</a>. You can also find me on <a
        href="https://x.com/RobertERitz" target="_blank" rel="noopener noreferrer"
        class="text-blue-500 underline">X</a>.
    </p>
    <br>
    <br>
  </main>
</Layout>
