---

---

<p>
  Data scientist, and builder based in Mongolia for more than 10 years.
  President of the <a
    href="https://aum.edu.mn"
    target="_blank"
    rel="noopener noreferrer">American University of Mongolia</a
  >. Co-founded <a
    href="https://kraft.mn"
    target="_blank"
    rel="noopener noreferrer">Precision Kraft</a
  >, building <a
    href="https://lexica.news"
    target="_blank"
    rel="noopener noreferrer">Lexica.news</a
  >
  to bring local intelligence to global professionals. Inspired daily by my wife
  Bayaraa and son Erin.
</p>
